!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{ charset: "utf-8" }
    %title MfM Institut — Marktforschung für Medien
    %meta{ content: "Es muss doch noch besser gehen – das MfM Institut justiert Ihr Produkt, individuell auf Ihre Bedürfnisse und die Bedürfnisse Ihrer Kunden zugeschnitten.", name: "description" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    = javascript_include_tag "lib/prefixfree"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = csrf_meta_tags

  %body
    .container
      %header.sixteen.columns
        = image_tag "logo.png", id: "logo", width: "300px"

        .contact
          %i.icon-phone
          %a.phone-number{ href: "tel:+494046863431" } 040-46863431
          %br
          %i.icon-envelope
          %a.email{ href: "mailto:paetz@mfm-institut.de" } paetz@mfm-institut.de

      .content.sixteen.columns
        = render :partial => 'pages/was_ist_mfm'
        = render :partial => 'pages/optimierung'
        = render :partial => 'pages/profilierung'
        = render :partial => 'pages/entwicklung'

        -#= yield

      %footer
        %i.icon-anchor
        %a{ href: "impressum" } Impressum

    = render "shared/jquery"
    = javascript_include_tag "application", "data-turbolinks-track" => true
